@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#root {
  width: 100%;
  min-height: 100vh;
  background: transparent;
  color: #cbc9cf;
}
img {
  background-image: url("./assets/imgback.png");
  background-size: cover;
  background-position: center;
}
a {
  color: #cbc9cf;
}

svg:hover {
  color: #cbc9cf9d;
}
svg {
  width: 15px;
  height: 15px;
}
html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.page {
  min-height: 100vh;
  background-image: url("./assets/download.jpg");
  background-position: center;
  background-color: black;
  background-size: cover;
  background-attachment: fixed;

  /* position: relative; */
  z-index: -1;
  /* overflow: scroll; */
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
nav.hidden {
  display: none;
}
nav {
  position: fixed;
  width: 260px;
  height: 50px;
  z-index: 3;
  background-color: #141212a6;
  backdrop-filter: blur(50px);
  box-shadow: 0px 0px 10px #141212f8;
  border-radius: 18px;
  bottom: 23px;
  display: flex;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);

  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    background: transparent;
    border: 0;
    width: 90px;
    color: #cbc9cf;
    svg {
      width: 15px;
      height: 15px;
      margin-bottom: 6px;
    }
  }

  a {
    font-size: 10px;
    width: 90px;
    height: 50px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    svg {
      width: 15px;
      height: 15px;
      margin-bottom: 6px;
    }
  }
  a.active {
    background-color: #32576e;
  }
}

.library-page .container {
  display: grid;
  grid-template-columns: 50fr 50fr;
  padding: 0 15px;
  gap: 15px;
  padding-top: 60px;
  padding-bottom: 80px;
}
.manwha-card:hover,
.manwha-card:focus,
.manwha-card:active {
  filter: brightness(70%);
}
.manwha-card {
  aspect-ratio: 0.67/1;
  /* width: 173px; */
  /* height: 260px; */
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: rgb(24, 24, 24);
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.986)
    );
    z-index: 1;
  }

  .name {
    font-size: 10px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 122px;
    height: fit-content;
    z-index: 1;
    max-height: 19px;
  }
}

.history-page .container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 60px;
}
.history-page {
  padding: 0 15px;
  padding-bottom: 80px;
}
.history-card:hover,
.history-card:focus,
.history-card:active {
  background-color: #14121270;
  backdrop-filter: blur(50px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.history-card {
  width: 100%;
  height: 90px;
  display: flex;
  position: relative;
  align-items: center;

  img {
    width: 60px;
    height: 90px;
    object-fit: cover;
    background-color: gray;
    margin-right: 20px;
    border-radius: 5px;
  }

  p {
    color: #cbc9cf;
    margin: 0;
    padding: 0;
    font-size: 10px;
    width: 170px;
  }

  svg {
    position: absolute;
    right: 0;
  }
}
.header {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 0 20px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  width: 100%;
  backdrop-filter: blur(50px);
  .uuid {
    font-size: 10px;
    position: absolute;
    background-color: #141212d3;
    backdrop-filter: blur(50px);
    padding: 5px;
    border-radius: 5px;
    right: 15px;
    bottom: -15px;
  }
  form input:focus-within {
    outline: 0;
    border-color: #32576e;
  }
  form {
    /* background-color: red; */
    outline: none;
    width: 80%;
    position: relative;
    svg {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateY(50%);
      font-size: 10px;
    }
  }
  .name {
    font-weight: 600;
  }
  input {
    width: 100%;
    background-color: transparent;
    border: 0;
    color: #cbc9cf;
    border-bottom: 0.5px solid #cbc9cf;
    padding: 5px;
  }

  .sort {
    display: flex;
    gap: 20px;
  }
}
.discover-page .container {
  display: grid;
  grid-template-columns: 50fr 50fr;
  gap: 15px;
}

.discover-page {
  position: unset;
  padding: 0 15px;
  padding-top: 60px;
  padding-bottom: 80px;
}

.discover-nav {
  display: flex;
  gap: 10px;
  margin: 10px 0 20px;
  button {
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 10px;
    color: #cbc9cf;
    border: 0.5px solid #cbc9cf;
    background-color: transparent;
  }

  button.active {
    background-color: #cbc9cf;
    color: #141212;
  }
}

.loading-card {
  aspect-ratio: 0.67/1;
  /* width: 173px; */
  /* height: 260px; */
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  background-color: #cbc9cf1a;
  animation: loading 1.5s alternate infinite;
}
.none {
  /* background-color: red; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* width: 50px; */
  p {
    font-size: 12px;
    margin: 0;
    color: #cbc9cf;
  }
  img {
    width: 80px;
    background-image: none;
  }
  a {
    color: #32576e;
    text-decoration: none;
  }
}

.loading-history-card {
  width: 100%;
  height: 90px;
  display: flex;
  position: relative;
  align-items: center;

  .img {
    width: 60px;
    height: 90px;
    object-fit: cover;
    animation: loading 1.5s alternate infinite;
    margin-right: 20px;
    border-radius: 5px;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 10px;
    width: 170px;
    animation: loading 1.5s alternate infinite;
    height: 5px;
  }
  p.time {
    animation: loading 1.5s alternate infinite;
    width: 170px;
    height: 5px;
  }

  .icon {
    width: 15px;
    height: 15px;
    position: absolute;
    animation: loading 1.5s alternate infinite;
    right: 0;
  }
}

.overview-page {
  padding: 0 15px;
  padding-bottom: 80px;
}

.overview-page .container {
  padding-top: 60px;

  .desc {
    display: flex;
    height: fit-content;
    align-items: center;
  }

  img {
    background-color: #141212;
    border-radius: 5px;
    height: 155px;
    width: 103px;
    object-fit: cover;
  }

  .group {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    max-height: 155px;
    overflow: hidden;
  }
  .name {
    font-size: 14px;
    padding: 0;
    margin: 0;
    font-weight: 600;
  }
  .summary {
    font-size: 10px;
    margin: 0;
  }
}
.overview-page .sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 10px 0;

}

.overview-page .genres {
  display: flex;
  gap: 5px;
  /* flex-wrap: wrap; */
  margin: 25px 0 20px 0;
  overflow: auto hidden;
}
.overview-page .genres::-webkit-scrollbar {
  display: none;
}

.genre-card {
  font-size: 8px;
  background-color: transparent;
  border-radius: 5px;
  border: 0.5px solid #cbc9cf;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  white-space: nowrap;
  box-sizing: content-box;
  animation: loading 1.5s alternate infinite;
}
p.chap-count {
  font-size: 10px;
  margin-bottom: 20px;
}
.chapter-card:hover,
.chapter-card:focus,
.chapter-card:active {
  background-color: #141212d2;
}

.chapter-card {
  padding: 8px;
  background-color: #1a1919;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
  border-left: 5px solid #32576e;
  margin-bottom: 10px;
  border-radius: 5px;

  .chap-name {
    font-size: 10px;
    margin: 0;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .date {
    margin: 0;
    font-weight: 300;
    font-size: 8px;
  }
}

.reading-page {
  img {
    width: 100%;
  }
  .none {
    /* background-color: red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* width: 50px; */
    p {
      font-size: 12px;
      margin: 0;
      color: #cbc9cf;
    }
    img {
      width: 80px;
    }
    a {
      color: #32576e;
      text-decoration: none;
    }
  }
}

.reading-page .controls {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  .top {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0;
    animation: enterTop 0.1s ease-out;

    .chap-name {
      color: #cbc9cf;
      margin: 0;
      font-size: 10px;
      padding: 5px 10px;
      border-radius: 10px;
      background-color: #141212b6;
      backdrop-filter: blur(50px);
    }
    button {
      width: fit-content;
      height: fit-content;
      font-size: 10px;
      padding: 5px 10px;
      border-radius: 10px;
      border: 0;
      color: #cbc9cf;
      background-color: #141212b6;
      backdrop-filter: blur(50px);
    }
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 260px;
    height: 50px;
    z-index: 3;
    background-color: #141212b6;
    backdrop-filter: blur(50px);
    border-radius: 18px;
    bottom: 23px;
    display: flex;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    animation: enterBottom 0.1s ease-out;

    button {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 10px;
      background: transparent;
      border: 0;
      width: 90px;
      color: #cbc9cf;
      svg {
        width: 15px;
        height: 15px;
        margin-bottom: 6px;
      }
    }

    a {
      font-size: 10px;
      width: 90px;
      height: 50px;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 18px;
      svg {
        width: 15px;
        height: 15px;
        margin-bottom: 6px;
      }
    }
    a.active {
      background-color: #32576e;
    }
  }
}
.reading-page .loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.loading-over {
  img {
    animation: loading 1.5s alternate infinite;
    position: relative;
  }
  /* img:empty::after {
    content: "❌"; 
    position: absolute;
    font-size: 48px;
    color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */
  .genre-card {
    background-color: #141212;
    border: 0;
    width: 25px;
    height: 10px;
  }
  .group {
    gap: 5px;
  }
  .name {
    animation: loading 1.5s alternate infinite;
    width: 100px;
    height: 9px;
  }
  .summary {
    animation: loading 1.5s alternate infinite;
    width: 200px;
    height: 150px;
  }

  .chapter-card {
    animation: loading 1.5s alternate infinite;
    height: 20px;
  }
}

.discover-page .filter::-webkit-scrollbar {
  display: none;
}

.discover-page .filter {
  box-sizing: border-box;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  width: 95%;
  z-index: 2;
  max-height: 60vh;
  /* max-height: 250px; */
  overflow: auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #141212b6;
  backdrop-filter: blur(50px);
  gap: 10px;
  left: 50%;
  transform: translateX(-50%);

  .search {
    background-color: #32576e;
    height: 40px;
    color: #cbc9cf;
    border: 0;
    border-radius: 5px;
  }

  .group {
    transition: 0.3s all;
    font-size: 10px;
    min-height: 40px;

    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    border: 0.5px solid #cbc9cf;
    svg {
      position: absolute;
      right: 15px;
    }

    .content.hidden {
      height: 0;
      display: none;
    }
    .filt {
      width: 100%;
      text-align: left;
      background-color: transparent;
      color: #cbc9cf;
      padding: 5px 0 5px 10px;
      border: 0;
      margin-bottom: 5px;
    }

    .content {
      height: fit-content;

      overflow: hidden;
      display: grid;
      grid-template-columns: repeat(3, 25fr);
      flex-wrap: wrap;
      padding: 0 10px;
      transition: 0.3s all ease;
      padding-bottom: 5px;
    }
    label {
      display: flex;
      align-items: center;
    }

    input {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 10px;
      height: 10px;
      border: 0.5px solid #555;
      border-radius: 2px;
      cursor: pointer;
      background-color: #141212;
      position: relative;
      margin: 0;
      margin-right: 3px;
    }

    /* When checked → add a tick mark */
    input:checked {
      background-color: #141212;
      border-color: #cbc9cf;
    }

    input:checked::after {
      content: "✔";
      position: absolute;
      inset: 0 0 0 0;
      text-align: center;
      color: #cbc9cf;
      font-size: 6px;
    }
    input[type="radio"]:checked {
      background-color: #cbc9cf;
    }
    input[type="radio"] {
      border-radius: 50%;
    }
  }
}

@keyframes loading {
  from {
    background-color: #cbc9cf1a;
  }
  to {
    background-color: #cbc9cf2f;
  }
}
@keyframes enterTop {
  from {
    padding: 0px 20px 0;
  }
  to {
    padding: 20px 20px 0;
  }
}
@keyframes enterBottom {
  from {
    bottom: 0px;
    opacity: 0;
  }
  to {
    opacity: 1;
    bottom: 23px;
  }
}

/* Tablet (≥768px) → 2 columns */
@media (min-width: 768px) {
  .library-page .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* PC/Desktop (≥1200px) → 3 or 4 columns depending on design */
@media (min-width: 1200px) {
  .library-page .container {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* Tablet (≥768px): 2 columns */
@media (min-width: 768px) {
  .discover-page .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Desktop (≥1200px): 3 columns */
@media (min-width: 1200px) {
  .discover-page .container {
    grid-template-columns: repeat(7, 1fr);
  }
}
